params.pdb = '2zim.pdb'
params.dry_run = true

profiles {
  conda {
    process.conda = "$baseDir/environment.yml"

    // See nextflow-io/nextflow#1081
    // It takes 15m 24s to build the conda environment by hand.  The default 
    // timeout is 20m, which should be enough, but is a little tight.
    conda.createTimeout = '30m'
  }

  slurm {
    process.executor = 'slurm'
  }
}


